mixin news(mdf)
  .news(class=mdf)
    .wrapper
      h2.section-header Новости
      .news__content
        +article-dated('20', 'сентября', 'На сайте собраны материалы по теме советской культурной дипломатии', 'Участники проектной команды будут рады общению с представителями научного исследовательского сообщества и широкой общественностью.')
        +article-dated('9', 'сентября', 'Встреча участников проекта с широкой общественностью пройдёт 20 ноября в ЮУрГУ', 'Цель сайта – знакомить посетителей сайта с концепцией, задачами, ходом реализации и результатами научного проекта «Советская культурная дипломатия в условиях Холодной войны (1949-1989)», а также аккумулировать важнейшие материалы, собранные в ходе его реализации.')
        +article-dated('2', 'сентября', 'Скоро пройдёт мероприятие про холодную войну', 'При добавлении информации о мероприятиях им присваиваться соответствующая категория (новости, анонсы, фотоотчет, видеоотчет); эти категории в дальнейшем могут быть использованы для отбора новостей.')