mixin pagination(mdf)
  .pagination(class=mdf)
    a.pagination__arrow.pagination__arrow--left(href="#") ←   
    a.pagination__item.pagination__item--active 1
    a.pagination__item 2
    a.pagination__item 3
    a.pagination__arrow.pagination__arrow--right(href="#") →