include ../blocks/header/header.pug
include ../blocks/menu/menu.pug
include ../blocks/language/language.pug
include ../blocks/logo/logo.pug
include ../blocks/front/front.pug
include ../blocks/news/news.pug
include ../blocks/article-dated/article-dated.pug
include ../blocks/section-header/section-header.pug
include ../blocks/memorable-date/memorable-date.pug
include ../blocks/photo-caption/photo-caption.pug
include ../blocks/socials/socials.pug
include ../blocks/footer/footer.pug
include ../blocks/article/article.pug
include ../blocks/pagination/pagination.pug