.article-dated {
  width: 33.3%;
  padding-right: 25px;
  display: flex;
  
  &:last-child {
    padding-right: 0;
  }
  
  &--wide {
    width: 100%;
    
    &.content__article-dated {
      
      &:nth-child(n+2) {
        margin-top: 44px;
      }
    }
    
      
    
    .article-dated__date {
      width: 90px;
      margin-right: 0;
      flex: 0 0 auto;
    }
  }
  
  &__date {
    margin-right: 42px;
  }
  
  &__day {
    color: @color-text;
    font-family: @font-family-main;
    font-size: 60px;
    line-height: 20px;
    text-align: center;
  }
  
  &__month {
    font-family: @font-family-main;
    font-size: 16px;
    text-align: center;
    margin-top: 19px;
  }
}