mixin article-dated(day, month, header, text, mdf, mdf2)
  .article-dated(class=mdf, class=mdf2)
    .article-dated__date
      .article-dated__day #{day}
      .article-dated__month #{month}
    +article(header, text)