.article-dated {
  width: 33%;
  padding-right: 25px;
  display: flex;
  
  &:last-child {
    padding-right: 0;
  }
  
  &--wide {
    width: 100%;
    
    .article-dated__date {
      width: 90px;
      margin-right: 0;
      flex: 0 0 auto;
    }
  }
  
  &__date {
    margin-right: 30px;
  }
  
  &__day {
    color: #020202;
    font-family: @font-family-main;
    font-size: 60px;
    line-height: 20px;
    text-align: center;
  }
  
  &__month {
    font-family: @font-family-main;
    font-size: 16px;
    text-align: center;
    margin-top: 19px;
  }
}