.teammate {
  .two-lined;
  
  &--left {
    
    .teammate__picture {
      margin-right: 29px;
    }
  }
  
  &--right {
    
    .teammate__picture {
      margin-left: 29px;
    }
  }
  
  &__wrapper {
    display: flex;
    padding-bottom: 30px;
    align-items: flex-start;
  }
  
  &__picture {
    display: block;
  }
  
  &__content {
    width: 100%;
  }
  
  &__name {
    color: @color-text;
    font-family: @font-family-main;
    font-size: 30px;
  }
  
  &__occupation {
    color: @color-text;
    font-family: @font-family-main;
    font-size: 18px;
    font-style: italic;
    margin-top: 15px;
  }
  
  &__email {
    color: @color-text;
    font-family: @font-family-main;
    font-size: 18px;
    font-style: italic;
    display: block;
    margin-top: 15px;
  }
  
  &__section {
    
  }
  
  &__article {
    margin-top: 40px;
  }
  
  &__article-header {
    color: @color-text;
    font-family: @font-family-main;
    font-size: 24px;
  }
  
  &__article-content {
    color: @color-text;
    font-family: @font-family-main;
    font-size: 18px;
    margin-top: 10px;
  }
}