mixin footer(mdf)
  .footer(class=mdf)
    .wrapper.footer__wrapper
      .footer__copyright © 2016. Научный проект «Советская дипломатия в период Холодной войны». Использование материалов возможно только с письменного разрешения правообладателей.
      +socials('footer__socials')
      a.footer__university(href="#")
      a.footer__foundation(href="#")