mixin authors(mdf)
  .authors(class=mdf)
    .authors__item
      .authors__item-name Докучаева Светлана Валерьевна
      a.authors__item-email(href="#") svetad.87@mail.ru
    .authors__item
      .authors__item-name Попов Алексей Дмитриевич
      a.authors__item-email(href="#") popalex79@mail.ru
    .authors__item
      .authors__item-name Милованова Рузанна Владимировна
      a.authors__item-email(href="#") ruzandreeva@gmail.com
    .authors__item
      .authors__item-name Приходько Ольга Константиновна 
      a.authors__item-email(href="#") olenka--sun@mail.ru
    .authors__item
      .authors__item-name Нагорная Оксана Сергеевна
      a.authors__item-email(href="#") nagornaja.oxana@mail.ru
    .authors__item
      .authors__item-name Раева Татьяна Витальевна
      a.authors__item-email(href="#") 7901634@gmail.com
    .authors__item
      .authors__item-name Никонова Ольга Юрьевна
    .authors__item
      .authors__item-name Трегубов Никита Александрович