doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header('header--inner')
    .wrapper.wrapper--columns
      aside.sidebar
        h2.sidebar__header Мероприятия
        .sidebar__content
          a.sidebar__link(href="#") Новости проекта
          a.sidebar__link.sidebar__link--active(href="#") Анонсы
          a.sidebar__link(href="#") Архив событий
          a.sidebar__link(href="#") Фотоотчёт
          a.sidebar__link(href="#") Видеоотчёт
      section.content
        h1.page-header.content__page-header Анонсы
        .content__item
          +article-dated('20', 'сентября', 'Коллоквиум проектной группы', '29 июня 2016 г. состоялся первый коллоквиум исследовательской группы, работающей по гранту Российского научного фонда над проектом «Советская культурная дипломатия в условиях Холодной войны (1949-1989)».', 'article-dated--wide', 'content__article-dated')
          +article-dated('9', 'сентября', 'Встреча участников проекта с широкой общественностью пройдёт 20 ноября в ЮУрГУ', 'Цель сайта – знакомить посетителей сайта с концепцией, задачами, ходом реализации и результатами научного проекта «Советская культурная дипломатия в условиях Холодной войны (1949-1989)», а также аккумулировать важнейшие материалы, собранные в ходе его реализации.', 'article-dated--wide', 'content__article-dated')
          +article-dated('2', 'сентября', 'Скоро пройдёт мероприятие про холодную войну', 'При добавлении информации о мероприятиях им присваиваться соответствующая категория (новости, анонсы, фотоотчет, видеоотчет); эти категории в дальнейшем могут быть использованы для отбора новостей.', 'article-dated--wide', 'content__article-dated')
          +article-dated('31', 'августа', 'На сайте собраны материалы по теме советской культурной дипломатии', 'Участники проектной команды будут рады общению с представителями научного исследовательского сообщества и широкой общественностью.', 'article-dated--wide', 'content__article-dated')
          +article-dated('6', 'августа', 'Встреча участников проекта с широкой общественностью пройдёт 20 ноября в ЮУрГУ', 'Цель сайта – знакомить посетителей сайта с концепцией, задачами, ходом реализации и результатами научного проекта «Советская культурная дипломатия в условиях Холодной войны (1949-1989)», а также аккумулировать важнейшие материалы, собранные в ходе его реализации.', 'article-dated--wide', 'content__article-dated')
          +article-dated('13', 'июля', 'Скоро пройдёт мероприятие про холодную войну', 'При добавлении информации о мероприятиях им присваиваться соответствующая категория (новости, анонсы, фотоотчет, видеоотчет); эти категории в дальнейшем могут быть использованы для отбора новостей.', 'article-dated--wide', 'content__article-dated')
          +article-dated('25', 'июня', 'На сайте собраны материалы по теме советской культурной дипломатии', 'Участники проектной команды будут рады общению с представителями научного исследовательского сообщества и широкой общественностью.', 'article-dated--wide', 'content__article-dated')
        .pagination.pagination--padding
          a.pagination__arrow.pagination__arrow--left(href="#") ←   
          a.pagination__item.pagination__item--active(href="#") 1
          a.pagination__item(href="#") 2
          a.pagination__item(href="#") 3
          a.pagination__item(href="#") 4
          a.pagination__item(href="#") 5
          a.pagination__item(href="#") 6
          a.pagination__item(href="#") 7
          a.pagination__item(href="#") 8
          a.pagination__item(href="#") 9
          span.pagination__item  ...
          a.pagination__item(href="#") 136
          a.pagination__arrow.pagination__arrow--right(href="#") →
    +footer