doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header('header--inner')
    .wrapper.wrapper--columns
      aside.sidebar
        h2.sidebar__header О проекте
        .sidebar__content
          a.sidebar__link(href="#") Цель проекта
          a.sidebar__link(href="#") Тематические поля
          a.sidebar__link(href="#") Методология
          a.sidebar__link(href="#") Команда
          a.sidebar__link(href="#") Наши партнёры
          a.sidebar__link.sidebar__link--active(href="#") Контакты
      section.content.contacts
        h1.page-header.content__page-header Контактная информация
        .contacts__content 454000, Челябинск, пр-т Ленина, 76, ауд. 24 +7 (351) 267-93-15, +7 (351) 267-93-14 (факс)
          a.contacts__link(href="#") info@cold_war.ru
        +authors('contacts__authors')
        +form
    +footer