doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header('header--inner')
    .wrapper.wrapper--columns
      aside.sidebar
        h2.sidebar__header Библиотека
        .sidebar__content
          a.sidebar__link.sidebar__link--active(href="#") Публикации
          a.sidebar__link(href="#") Исследования
      section.content
        h1.page-header.content__page-header Публикации
        .content__item
          h2.section-header.section-header--big Милованова Р. В.
          +article('Средства массовой информации как инструмент воздействия на население', 'VI Всероссийская ассамблея молодых политологов: сб науч. ст. / Перм. гос. нац.  исслед. ун-т. – Пермь, 2013. – С. 27-38.', 'content__article')
          +article('Национальная идея как фактор развития государства и повышения активности населения', 'Наука. Южно-Уральский государственный университет материалы 65-ой Научной конференции – Челябинск: Издательский центр ЮУрГУ, 2013. – С. 131-134.', 'content__article')
          +article('Неформальные политические институты в сравнительной политологии', 'Наука ЮУрГУ: материалы 66-й научной конференции – Челябинск: Издательский центр ЮУрГУ, 2014. – С. 990-995.', 'content__article')
        .content__item
          h2.section-header.section-header--big Нагорная О. С.
          +article('Восточногерманские студенты в СССР: перспективы одной транснациональной истории', 'Институциональные проблемы российского социума: правовой и исторический аспекты: труды научно-специализированной конференции преподавателей вузов, ученых и специалистов. Челябинск: Полиграф-Мастер, 2010. С. 19-31;', 'content__article')
          +article('Значимые «другие», «национальное высокомерие» и репрезентации социалистического лагеря:  восточногерманские студенты в СССР в 1950-60-е гг.', 'Образ «Другого» в поликультурных обществах. Материалы международной научной конференции. Пятигорск, 22-24 апреля 2011 г. Пятигорск-Ставрополь-Москва: Изд-во Пятигорского государственного лингвистического университета, 2011. С. 278-282.', 'content__article')
          +article('Ostdeutsche Studenten in der UdSSR und Repräsentationen der blockinternen Ordnung  in den 1950-1960-er', 'Erinnerungsorte des 20. Jahrhunderts im russischen und deutschen Gedächtnis, url: http://web.apb-tutzing.de/apb/cms/index.php?id=3029;', 'content__article')
          +article('Восточногерманские студенты в СССР 1950-60-х гг.: внутриблоковая культурная дипломатия и индивидуальные интерпретации', 'Междисциплинарный диалог: современные тенденции в социогуманитарных, естественных и технических науках. Челябинск: Полиграф-Мастер, 2013. С. 333-345.', 'content__article')
          +article('Восточногерманские студенты в СССР 1950-60-х гг.: транснациональные пространства и социалистические «сети»', 'Исторический журнал: научные исследования. — 2013. - № 5. - С.531-540. DOI: 10.7256/2222-1972.2013.5.9267.', 'content__article')
          +article('Между «революционной бдительностью», дискотекой и тестом на СПИД: восточногерманские студенты в СССР эпохи перестройки', 'Государственно-политические парадигмы истории России. Сб. статей / под ред. Нагорной О.С. Челябинск: Violitprint, 2013. С. 18-29.', 'content__article')
          +article('«Поколение» и «память» в транснациональном пространстве советских вузов: восточногерманские студенты в СССР', '«Работа над прошлым»: ХХ век в коммуникации и памяти послевоенных поколений Германии и России : сборник статей / под ред. О. С. Нагорной и др. Челябинск : Каменный пояс, 2014. С. 200—210.', 'content__article')
          +article('Нелегальный автостоп: путешествие из ГДР в СССР в 1972 г.', 'Вопросы истории. 2015. № 10. С. 37-46.', 'content__article')
          +article('Академическая мобильность в пределах железного занавеса: студенты из ГДР в советских ВУЗах (1950—1960-е гг.)', 'Электронный научно-образовательный журнал «История», 2015. T.6. Выпуск 9 (42) [Электронный ресурс]. Доступ для зарегистрированных пользователей. URL: http://history.jes.su/s207987840001253-7-1. DOI: 10.18254/S0001253-7-1.', 'content__article')
          +article('«… когда СССР стал сильным и могучим… многие народы нуждаются в нашей дружбе»: аспекты изучения культурной дипломатия в социалистическом лагере (1949-1989) ', 'Диалог со временем. 2015. № 53. С. 269-278.', 'content__article')
          +article('Fehlt der „Blick über den Tellerrand“? „Konstitutive Widersprüchlichkeit“ der DDR  und Perspektiven der globalen Kontextualisierung der Transformationsprozesse ', 'Das letzte Jahrzehnt des Sozialismus: Transformationsprozesse in der DDR und in der Sowjetunion (1985 bis 1989/91). Moskau : Novyj chronograf, 2016.', 'content__article')
          .article.content__article
            a.article__header(href="#") Das letzte Jahrzehnt des Sozialismus: Transformationsprozesse in der DDR und in der Sowjetunion (1985 bis 1989/91)
            .article__text Moskau : Novyj chronograf, 2016. 
            .article__authors Nagornaja O., Nikonova O., Mayer M., Pieper M., Morre J. Einleitung
          +article('МГБ ГДР, восточногерманские студенты и «дружественное ведомство»: искушения и границы транснациональной «истории спецслужб» социалистического лагеря', 'Исторический журнал: научные исследования. — 2016. - № 1. - С.72-82. DOI: 10.7256/2222-1972.2016.1.16541', 'content__article')
        .content__item
          h2.section-header.section-header--big Никонова О. Ю.
          +article('Suppenfleisch mit Meerrettich“ statt „Verfassung“: Vom dichotomischen Modell zur „verstehenden“ Geschichtsschreibung des spaten Sozialismus', 'Das letzte Jahrzehnt des Sozialismus: Transformationsprozesse in der DDR und in der Sowjetunion (1985 bis 1989/91). Moskau : Novyj chronograf, 2016.', 'content__article')
          .article.content__article
            a.article__header(href="#") Das letzte Jahrzehnt des Sozialismus: Transformationsprozesse in der DDR und in der Sowjetunion (1985 bis 1989/91)
            .article__text Moskau : Novyj chronograf, 2016. 
            .article__authors Nagornaja O., Nikonova O., Mayer M., Pieper M., Morre J. Einleitung
        +pagination('content__pagination')
    +footer