doctype html
html(lang='ru')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header('header--inner')
    .wrapper.wrapper--columns
      aside.sidebar
        h2.sidebar__header О проекте
        .sidebar__content
          a.sidebar__link(href="#") Цель проекта
          a.sidebar__link(href="#") Тематические поля
          a.sidebar__link(href="#") Методология
          a.sidebar__link.sidebar__link--active(href="#") Команда
          a.sidebar__link(href="#") Наши партнёры
          a.sidebar__link(href="#") Контакты
      section.content.team
        h1.page-header.content__page-header Команда
        .teammate.teammate--left
          .teammate__wrapper
            img.teammate__picture(src="img/team-1.jpg" alt="Dokuchaeva")
            .teammate__content
              h2.teammate__name Докучаева Светлана Валерьевна
              p.teammate__occupation Магистр психологии (2014), аспирант ФГАОУ ВО «Южно-Уральский государственный университет (НИУ), преподаватель кафедры политологии ЮУрГУ.
                a.teammate__email(href="mailto:svetad.87@mail.ru") svetad.87@mail.ru
              .teammate__section
                .teammate__article
                  h3.teammate__article-header Сфера научных интересов:
                  p.teammate__article-content психология массового сознания, психология лидерства, политические институты, психологические особенности политической активности.
                .teammate__article
                  h3.teammate__article-header Тематические поля в рамках проекта «Советская культурная дипломатия в условиях Холодной войны»:
                  p.teammate__article-content – сравнительный анализ моделей культурной дипломатии;
                  p.teammate__article-content – (не)государственные визиты как инструмент советской культурной дипломатии в условиях Холодной войны.
        .teammate.teammate--right.team__item
          .teammate__wrapper
            .teammate__content
              h2.teammate__name Милованова Рузанна Владимировна
              p.teammate__occupation Аспирант кафедры «Отечественная и зарубежная история» ФГАОУ ВО «ЮУрГУ».
                a.teammate__email(href="mailto:ruzandreeva@gmail.com") ruzandreeva@gmail.com
              .teammate__section
                .teammate__article
                  h3.teammate__article-header Сфера научных интересов:
                  p.teammate__article-content культурная дипломатия, мягкая сила, ивент-дипломатия, политическая культура, политическая компаративистика.
                .teammate__article
                  h3.teammate__article-header Тематические поля в рамках проекта «Советская культурная дипломатия в условиях Холодной войны»:
                  p.teammate__article-content – советская event-дипломатия в годы «холодной войны».
                .teammate__article
                  h3.teammate__article-header Основные публикации:
                  p.teammate__article-content Средства массовой информации как инструмент воздействия на население // Всероссийская ассамблея молодых политологов: сб науч. ст. / Перм. гос. нац.  исслед. ун-т. – Пермь, 2013. – С. 27-38.
                  p.teammate__article-content Национальная идея как фактор развития государства и повышения активности населения // Наука. Южно-Уральский государственный университет материалы 65-ой Научной конференции – Челябинск: Издательский центр ЮУрГУ, 2013. – С. 131-134.
                  p.teammate__article-content Неформальные политические институты в сравнительной политологии // Наука ЮУрГУ: материалы 66-й научной конференции - – Челябинск: Издательский центр ЮУрГУ, 2014. – С. 990-995.
            img.teammate__picture(src="img/team-2.jpg" alt="Milovanova")
        .teammate.teammate--left.team__item
          .teammate__wrapper
            img.teammate__picture(src="img/team-3.jpg" alt="Nagornaya")
            .teammate__content
              h2.teammate__name Нагорная Оксана Сергеевна
              p.teammate__occupation Доктор исторических наук (2011).
                a.teammate__email(href="mailto:nagornaja.oxana@mail.ru") nagornaja.oxana@mail.ru
              .teammate__section
                .teammate__article
                  h3.teammate__article-header Сфера научных интересов:
                  p.teammate__article-content культурная история России и Германии в ХХ веке, история Первой мировой войны, транснациональная история, культурная дипломатия, история академических обменов.
                .teammate__article
                  h3.teammate__article-header Научные проекты:
                  p.teammate__article-content – исследовательский проект «Другой военный опыт: русские военнопленные Первой мировой войны в Германии» в университете Тюбингена, Германия (2006-2007);
                  p.teammate__article-content – руководитель исследовательского проекта «Великая война в России и Германии: коммеморативная политика и культурная память», реализованного при поддержке программы грантов Президента РФ для молодых ученых (2011-2012);
                  p.teammate__article-content – Young Eastern European Fellowship, Center for Contemporary History Potsdam, Germany (2012-2013);
                  p.teammate__article-content – стипендиат Германского исторического института в Москве, проекты «Восточногерманские студенты в СССР: транснациональные карьеры в условиях Холодной войны», «Советская культурная дипломатия в социалистическом лагере» (2010, 2015).
                .teammate__article
                  h3.teammate__article-header Тематические поля в рамках проекта «Советская культурная дипломатия в условиях Холодной войны»:
                  p.teammate__article-content – академические и научные обмены в странах социалистического лагеря;
                  p.teammate__article-content – советская мемориальная дипломатия в странах Восточной Европы;
                  p.teammate__article-content – транснациональные биографии послов культурной дипломатии в странах восточного блока;
                  p.teammate__article-content – институты и инструменты советской культурной дипломатии в условиях Холодной войны.
                .teammate__article
                  h3.teammate__article-header Основные публикации по тематике проекта:
                  p.teammate__article-content – Нагорная О.С. Восточногерманские студенты в СССР: перспективы одной транснациональной истории // Институциональные проблемы российского социума: правовой и исторический аспекты: труды научно-специализированной конференции преподавателей вузов, ученых и специалистов. Челябинск: Полиграф-Мастер, 2010. С. 19-31;
                  p.teammate__article-content – Нагорная О.С. Значимые «другие», «национальное высокомерие» и репрезентации социалистического лагеря:  восточногерманские студенты в СССР в 1950-60-е гг. // Образ «Другого» в поликультурных обществах. Материалы международной научной конференции. Пятигорск, 22-24 апреля 2011 г. Пятигорск-Ставрополь-Москва: Изд-во Пятигорского государственного лингвистического университета, 2011. С. 278-282;
                  p.teammate__article-content – Nagornaja, O. Ostdeutsche Studenten in der UdSSR und Repräsentationen der blockinternen Ordnung  in den 1950-1960-er // Erinnerungsorte des 20. Jahrhunderts im russischen und deutschen Gedächtnis, url: http://web.apb-tutzing.de/apb/cms/index.php?id=3029;
                  p.teammate__article-content – Нагорная О.С. Восточногерманские студенты в СССР 1950-60-х гг.: внутриблоковая культурная дипломатия и индивидуальные интерпретации // Междисциплинарный диалог: современные тенденции в социогуманитарных, естественных и технических науках. Челябинск: Полиграф-Мастер, 2013. С. 333-345;
                  p.teammate__article-content – Нагорная О.С. Восточногерманские студенты в СССР 1950-60-х гг.: транснациональные пространства и социалистические «сети» // Исторический журнал: научные исследования. — 2013. - № 5. - С.531-540. DOI: 10.7256/2222-1972.2013.5.9267;
                  p.teammate__article-content – Нагорная О.С. Между «революционной бдительностью», дискотекой и тестом на СПИД: восточногерманские студенты в СССР эпохи перестройки // Государственно-политические парадигмы истории России. Сб. статей / под ред. Нагорной О.С. Челябинск: Violitprint, 2013. С. 18-29;
                  p.teammate__article-content – Нагорная О. «Поколение» и «память» в транснациональном пространстве советских вузов: восточногерманские студенты в СССР // «Работа над прошлым»: ХХ век в коммуникации и памяти послевоенных поколений Германии и России : сборник статей / под ред. О. С. Нагорной и др. Челябинск : Каменный пояс, 2014. С. 200—210;
                  p.teammate__article-content – Нагорная О.С. Нелегальный автостоп: путешествие из ГДР в СССР в 1972 г. // Вопросы истории. 2015. № 10. С. 37-46;
                  p.teammate__article-content – Нагорная О. Академическая мобильность в пределах железного занавеса: студенты из ГДР в советских ВУЗах (1950—1960-е гг.) // Электронный научно-образовательный журнал «История», 2015. T.6. Выпуск 9 (42) [Электронный ресурс]. Доступ для зарегистрированных пользователей. URL: http://history.jes.su/s207987840001253-7-1. DOI: 10.18254/S0001253-7-1;
                  p.teammate__article-content – Нагорная О.С. «… когда СССР стал сильным и могучим… многие народы нуждаются в нашей дружбе»: аспекты изучения культурной дипломатия в социалистическом лагере (1949-1989) // Диалог со временем. 2015. № 53. С. 269-278;
                  p.teammate__article-content – Nagornaja O. Fehlt der „Blick über den Tellerrand“? „Konstitutive Widersprüchlichkeit“ der DDR  und Perspektiven der globalen Kontextualisierung der Transformationsprozesse // Das letzte Jahrzehnt des Sozialismus: Transformationsprozesse in der DDR und in der Sowjetunion (1985 bis 1989/91). Moskau : Novyj chronograf, 2016. (в печати);
                  p.teammate__article-content – Nagornaja O., Nikonova O., Mayer M., Pieper M., Morre J. Einleitung // Das letzte Jahrzehnt des Sozialismus: Transformationsprozesse in der DDR und in der Sowjetunion (1985 bis 1989/91). Moskau : Novyj chronograf, 2016. (в печати);
                  p.teammate__article-content – Нагорная О.С. МГБ ГДР, восточногерманские студенты и «дружественное ведомство»: искушения и границы транснациональной «истории спецслужб» социалистического лагеря // Исторический журнал: научные исследования. — 2016. - № 1. - С.72-82. DOI: 10.7256/2222-1972.2016.1.16541
        .teammate.teammate--right.team__item
          .teammate__wrapper
            .teammate__content
              h2.teammate__name Никонова Ольга Юрьевна
              p.teammate__occupation Доктор исторических наук (2013).
              .teammate__section
                .teammate__article
                  h3.teammate__article-header Сфера научных интересов:
                  p.teammate__article-content историография, история советского общества, история политических идей, история памяти и мемориальной политики в ХХ веке.
                .teammate__article
                  h3.teammate__article-header Научные проекты:
                  p.teammate__article-content – исследовательский проект «Конструирование советского патриотизма: военно-патриотическое воспитание в Уральском регионе в 1920-30е гг.» в рамках Исследовательской группы 437 («Опыт войн») университета г. Тюбинген;
                  p.teammate__article-content – участник коллективных научных и научно-образовательных проектов «Слухи и насилие в России" (совместно университет им. Гумбольдта, Германия, и ЮУрГУ); «100(0) Dokumente zur deutschen Geschichte» (университет Эрланген-Нюрнберг, Германия); «Опыт Великой войны в России и Германии: мемориальная политика и коллективная память (1914–1941 гг.)» (ЮУрГУ, Россия), «1914–1918 online. International encyclopedia of the First World War» (Свободный университет г. Берлин) и др.  
                .teammate__article
                  h3.teammate__article-header Тематические поля в рамках проекта «Советская культурная дипломатия в условиях Холодной войны»:
                  p.teammate__article-content – историография культурной дипломатии эпохи Холодной войны;
                  p.teammate__article-content – юбилеи и мемориальная дипломатия в социалистическом лагере;
                  p.teammate__article-content – негосударственные агенты культурной дипломатии.
                .teammate__article
                  h3.teammate__article-header Основные публикации по тематике проекта:
                  p.teammate__article-content Nikonova O. Suppenfleisch mit Meerrettich“ statt „Verfassung“: Vom dichotomischen Modell zur „verstehenden“ Geschichtsschreibung des spaten Sozialismus//  Das letzte Jahrzehnt des Sozialismus: Transformationsprozesse in der DDR und in der Sowjetunion (1985 bis 1989/91). Moskau : Novyj chronograf, 2016. (в печати);
                  p.teammate__article-content Nagornaja O., Nikonova O., Mayer M., Pieper M., Morre J. Einleitung // Das letzte Jahrzehnt des Sozialismus: Transformationsprozesse in der DDR und in der Sowjetunion (1985 bis 1989/91). Moskau : Novyj chronograf, 2016. (в печати).
            img.teammate__picture(src="img/team-4.jpg" alt="Nikonova")
        .teammate.teammate--left.team__item
          .teammate__wrapper
            img.teammate__picture(src="img/team-5.jpg" alt="Popov")
            .teammate__content
              h2.teammate__name Попов Алексей Дмитриевич
              p.teammate__occupation Кандидат исторических наук (2004), доцент.
                a.teammate__email(href="mailto:popalex79@mail.ru") popalex79@mail.ru
              .teammate__section
                .teammate__article
                  h3.teammate__article-header Сфера научных интересов:
                  p.teammate__article-content история туризма в Российской империи и СССР, экономическая и социальная история советского общества, международные отношения и культурная дипломатия эпохи «холодной войны», историческая память.
                .teammate__article
                  h3.teammate__article-header Научные проекты:
                  p.teammate__article-content руководитель и исполнитель исследовательских проектов, поддержанных Фондом «Москва - Крым» (2000), Германским историческим институтом в Москве (2008, 2013), Американской ассоциацией научных сообществ / American Council of Learned Societies (2010-2011), Фондом Герды Хенкель / Gerda Henkel Stiftung (2010-2012), Верховным Советом Республики Крым (2011), Российским гуманитарным научным фондом (2015), Фондом «Память, ответственность и будущее» / Stiftung «Erinnerung, Verantwortung und Zukunft» (2015).
                .teammate__article
                  h3.teammate__article-header Тематические поля в рамках проекта «Советская культурная дипломатия в условиях Холодной войны»:
                  p.teammate__article-content – международный туризм как культурная интеракция; 
                  p.teammate__article-content – советская event-дипломатия в годы «холодной войны»;
                  p.teammate__article-content – мемориальная дипломатия и проблемы исторической памяти.
                .teammate__article
                  h3.teammate__article-header Основные публикации:
                  h4.teammate__article-subheader Монографии
                  p.teammate__article-content Сквозь «железный занавес». Руссо туристо: советский выездной туризм, 1955-1991. – М.: Изд. Дом Высшей школы экономики, 2016. – 351 с. (в соавторстве с И.Б. Орловым).
                  h4.teammate__article-subheader Статьи
                  p.teammate__article-content Край древних развалин и новых санаториев: деятельность “Интуриста” в Крымской АССР (1931-1941 гг.) // Вестник Московского государственного университета сервиса. Серия “Гуманитарные науки”. – 2007. – № 2. – С. 111-115.
                  p.teammate__article-content Теневые аспекты пребывания иностранных туристов в Крымской области: фарцовка, проституция, криминал // Культура народов Причерноморья. – 2009. – № 152. – С. 151-155.
                  p.teammate__article-content Зарубежные круизы для советских туристов: из истории транспортного туризма в СССР // Современные проблемы сервиса и туризма. – М., 2010. – № 1. – С. 24-30.
                  p.teammate__article-content Эволюция советской модели туристского сервиса в послевоенный период // Туризм и сервис в панораме тысячелетий. Вып. 2. – М.: ГОУ ВПО “РГУТиС”, 2010. – С. 80-99.
                  p.teammate__article-content Память о Великой Отечественной войне в идеологической парадигме советского туризма // Современные проблемы сервиса и туризма. – М., 2010. – № 3. – С. 43-48.
                  p.teammate__article-content Повседневная история советского общества 1960-1980-х гг. через призму туристских практик // Вестник Харьковского национального университета им. В.Н. Каразина. Серия “История”. – 2011. – Вып. 43. – С. 230-237. 
                  p.teammate__article-content “Памятник горя, мучений и борьбы…”: мемориальный комплекс Бухенвальд и советский дискурс исторической памяти // Гілея (науковий вісник): Збірник наукових праць. – К., 2011. – Вип. 55. – С. 149-155.
                  p.teammate__article-content Блеск и нищета “Всесоюзной Здравницы” // Родина. – 2012. – № 5. – С. 117-121.
                  p.teammate__article-content “Мы ищем то, чего не теряли”: советские “дикари” в поисках места под солнцем // Ab Imperio. – 2012. – № 2. – С. 261-298.
                  p.teammate__article-content Туристские связи СССР–ГДР: “технологии дружбы” и “идеологический конвейер”? // Гілея (науковий вісник): Збірник наукових праць. – К., 2013. – Вип. 68. – С. 123-130.
                  p.teammate__article-content Снегурочка на экспорт: советская зимняя сказка для иностранных туристов // Родина. – 2013. – № 12. – С. 157-159. 
                  p.teammate__article-content Экспорт советской модели выездного туризма: случай разделенной Германии // Вестник Пермского университета. Серия “История”. 2013. – Вып. 3. – С. 155-165.
                  p.teammate__article-content “Марафон гостеприимства”: Олимпиада-80 и попытка модернизации советского сервиса // Cahiers du monde russe. – 2013. – Vol. 54. – №1-2. – P. 265-295.
                  p.teammate__article-content Легендарный Севастополь как туристско-экскурсионный объект: история и современность // Современные проблемы сервиса и туризма. – 2014. – № 3. – С. 52-60.
                  p.teammate__article-content Репетиция капитализма?: международная коммерческая деятельность Оргкомитета “Олимпиада-80” (1975-1980 гг.) // Вестник Харьковского национального университета им. В.Н. Каразина. Серия “История”. – 2014. – Вып. 49. – С. 129-143.
                  p.teammate__article-content “Зачем нам этот скипидар напополам с лимонадом?”: кулинарные секреты Олимпиады-80 // Родина. – 2014. – № 12. – С. 147-149.
                  p.teammate__article-content Ялта как курортная столица и международный туристский центр в период развитого социализма // Проблемы российской истории. – М.; Магнитогорск, 2015. – Вып. XIII. – С. 293-304.
                  p.teammate__article-content Импортная вещь и дух консюмеризма: потребительские аспекты выездного туризма в СССР // Soviet and Post-Soviet Review. – 2016. – Vol. 43, № 2. – Р. 182-218 (в соавторстве с И. Орловым).
        .teammate.teammate--right.team__item
          .teammate__wrapper
            .teammate__content
              h2.teammate__name Приходько Ольга Константиновна
              p.teammate__occupation Магистрант кафедры «Политология» ФГАОУ ВО «ЮУрГУ». 
                a.teammate__email(href="mailto:olenka--sun@mail.ru") olenka--sun@mail.ru
              .teammate__section
                .teammate__article
                  h3.teammate__article-header Научные проекты:
                  p.teammate__article-content культурная дипломатия, публичная дипломатия, советско-китайские отношения, современная российская культурная дипломатия в Китае.
                .teammate__article
                  h3.teammate__article-header Тематические поля в рамках проекта «Советская культурная дипломатия в условиях Холодной войны»:
                  p.teammate__article-content – советская культурная дипломатия в КНР в период  1960–1985 гг.
            img.teammate__picture(src="img/team-6.jpg" alt="Prihodko")
        .teammate.teammate--left.team__item
          .teammate__wrapper
            img.teammate__picture(src="img/team-7.jpg" alt="Raeva")
            .teammate__content
              h2.teammate__name Раева Татьяна Витальевна
              p.teammate__occupation Кандидат исторических наук (2004), доцент.
                a.teammate__email(href="mailto:7901634@gmail.com") 7901634@gmail.com
              .teammate__section
                .teammate__article
                  h3.teammate__article-header Сфера научных интересов:
                  p.teammate__article-content История городов Урала конца XIX – начала ХХ века, социальная и культурная история Российской империи и Советского Союза, историческая память, публичная дипломатия.
                .teammate__article
                  h3.teammate__article-header Научные проекты:
                  p.teammate__article-content соисполнитель исследовательского проекта «Великая война в России и Германии: коммеморативная политика и культурная память», реализованного при поддержке программы грантов Президента РФ для молодых ученых (2011-2012).
                .teammate__article
                  h3.teammate__article-header Тематические поля в рамках проекта «Советская культурная дипломатия в условиях Холодной войны»:
                  p.teammate__article-content – общества дружбы как инструмент культурной дипломатии; 
                  p.teammate__article-content – городская дипломатия в годы «холодной войны».
                .teammate__article
                  h3.teammate__article-header Основные публикации:
                  h3.teammate__article-subheader Статьи:
                  p.teammate__article-content Социокультурное развитие городов Урала (1900–1914 гг.). К постановке проблемы // Историческое пространство России: инерция и трансформация: Материалы Всероссийской научной конференции (12 мая 2003 г.)/  Отв. ред. В.С. Балакин. – Челябинск: Издательство ЮУрГУ, 2003. – С. 105–108.
                  p.teammate__article-content Развитие урбанизационного процесса на Южном Урале в XVI – начале ХХ вв. // Уральские Бирюковские чтения: Сб. научных и научно-популярных статей/ Науч. ред. С.С. Загребин. – Вып. 4. Город как феномен культуры. Часть 1. – Челябинск: Издательство «Абрис», 2006. – С. 309–314.
                  p.teammate__article-content Быт и досуг горожан Южного Урала в начале ХХ века // Русский исторический сборник. Том II. – М.: Кучково поле, 2010. – С. 340-363.
                  p.teammate__article-content Первая мировая война в праздничной коммеморации раннесоветской эпохи // Проблемы истории российского социума: труды межвузовской научно-практической конференции преподавателей вузов, ученых и специалистов (31 мая 2011 г.). – Челябинск: Центр научного сотрудничества, 2011. – С. 4-23 (в соавторстве с О.Ю. Никоновой).
                  p.teammate__article-content Образы Первой мировой войны на экранах межвоенной России и Германии: мемориальная политика и коллективная память // Вестник Южно-Уральского государственного университета. № 32 (291), 2012. Серия "Социально-гуманитарные науки". Выпуск 19. – Челябинск: Издательство ЮУрГУ, 2012. – С. 45-48 (в соавторстве с О.С. Нагорной).
        .teammate.teammate--right.team__item
          .teammate__wrapper
            .teammate__content
              h2.teammate__name Трегубов Никита Александрович
              p.teammate__occupation Кандидат политических наук (2007), доцент кафедры Социологии и политологии Института социально-гуманитарных наук Южно-Уральского государственного университета.
              .teammate__section
                .teammate__article
                  h3.teammate__article-header Сфера научных интересов:
                  p.teammate__article-content Теория и методология политической науки, политическая система и электоральное поведение в России, международные отношения и культурная дипломатия в годы Холодной войны.
                .teammate__article
                  h3.teammate__article-header Научные проекты:
                  p.teammate__article-content Исполнитель научных проектов, поддержанных Министерством образования и науки Российской Федерации (2010-2011, 2012-2013 гг.).
                .teammate__article
                  h3.teammate__article-header Тематические поля в рамках проекта «Советская культурная дипломатия в условиях Холодной войны»:
                  p.teammate__article-content – теория мягкой силы, публичной дипломатии и культурной дипломатии;
                  p.teammate__article-content – культурная дипломатия СССР периода «хрущевской оттепели» (1953-1964 гг.): взаимодействие с США;
                  p.teammate__article-content – деятельность партийных и государственных субъектов советской культурной дипломатии;
                  p.teammate__article-content – контент-анализ источников по теме советской культурной дипломатии в годы Холодной войны.
                  h3.teammate__article-header Основные публикации:
                  p.teammate__article-content 1. Трегубов Н.А. Проблема формирования многопартийности в современной России: опыт и перспективы исследования // Вестник Московского университета. Серия 8. История. 2007. № 2. С. 3-29.
                  p.teammate__article-content 2. Трегубов Н.А. Политическая система: принципы функционирования, условия стабильности, механизм трансформации // Вестник Южно-Уральского государственного университета. Серия Социально-гуманитарные науки. Вып. 10. 2008. № 6 (106). С. 108-111.
                  p.teammate__article-content 3. Трегубов Н.А. Трансцендентные основания функционирования политической системы: к постановке проблемы // Вестник Южно-Уральского государственного университета. Серия Социально-гуманитарные науки. Вып. 15. 2010. № 28 (204). С. 127-133.
                  p.teammate__article-content 4. Трегубов Н.А. Артикуляция представлений о политической модернизации в риторике В.В. Путина и Д.А. Медведева: попытка сравнительного контент-анализа // Вестник Пермского университета. Серия «Политология». Выпуск 3 (11). 2010. С. 69-81.
                  p.teammate__article-content 5. Трегубов Н.А. Индексный анализ эффективности государственного управления в периоды президентства В.В. Путина и Д.А. Медведева // Политэкс. 2013. № 3. С. 199-215.
                  p.teammate__article-content 6. Трегубов Н.А. Муниципальные выборы в России: факторы эффективности политической коммуникации // Полития. 2014. № 1. С. 61-69.
                  p.teammate__article-content 7. Трегубов Н.А., Поселяющева И.А. Структура электоральных предпочтений студенческой молодежи: опыт социологического исследования // Вестник Южно-Уральского государственного университета. Серия Социально-гуманитарные науки. 2014. Т. 14. № 1. С. 81-87.
                  p.teammate__article-content 8. Трегубов Н.А. Мотивация голосования студентов на муниципальных выборах: результаты социально-политического исследования // Вестник Южно-Уральского государственного университета. Серия: социально-гуманитарные науки. 2014. Т. 14. № 4. С. 67-73. 
            img.teammate__picture(src="img/team-8.jpg" alt="Tregubov")
    +footer