.section-header {
  color: #282828;
  font-family: @font-family-main;
  font-size: 13px;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  padding-bottom: 4px;
  letter-spacing: 1px;
  .two-lined;
  
  &--big {
    font-size: 16px;
    letter-spacing: 1.2px;
    
    &:after {
      margin-top: 1px;
    }
  }
}
