mixin front(mdf)
  .front(class=mdf)
    .wrapper
      h1.front__title Научный проект «Советская культурная дипломатия в условиях Холодной войны 1949-1989»
      .front__text 
        p.front__text-item На сайте собраны материалы по теме советской культурной дипломатии. 
        p.front__text-item Участники проектной команды будут рады общению с представителями научного исследовательского сообщества и широкой общественностью.