.front {
  background: url(../img/front-bg.jpg) no-repeat;
  background-size: cover;
  padding-top: 240px;
  padding-bottom: 134px;
  
  &__title {
    font-family: @font-family-main;
    color: #d8d8d8;
    font-size: 36px;
    line-height: 42px;
    width: 531px;
  }
  
  &__text {
    font-family: @font-family-main;
    color: #b2b2b2;
    font-size: 22px;
    line-height: 27px;
    width: 531px;
    margin-top: 50px;
  }
}
