mixin photo-caption(mdf)
  .photo-caption(class=mdf) Генеральный секретарь ЦК КПСС Михаил Горбачев, президент США Рональд Рейган (в центре) и вице-президент США Джордж Буш (слева) на прогулке по острову Говернорс-Айленд во время визита М. Горбачева в США в 1988 году.