.header {
  
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  &__left {
    display: flex;
    align-items: flex-end;
  }
  
  &__right {
    display: flex;
    align-items: flex-end;
  }
  
  &__menu {
    margin-bottom: 30px;
    margin-left: 45px;
  }
  
  &__email {
    color: #dbdbdb;
    font-family: @font-family-main;
    font-size: 18px;
    text-decoration: none;
    margin-right: 40px;
    margin: 30px;
  }
}
