.content {
  
  
  &__item {
    margin-top: 60px;
    
    &:nth-child(2) {
      margin-top: 25px;
    }
  }
  
  &__article {
    
    &:nth-child(n+3) {
      margin-top: 40px;
    }
    
    &:nth-child(2) {
      margin-top: 8px;
    }
  }
  
  &__article-dated {
    
    &:nth-child(n+2) {
      margin-top: 50px;
    }
  }
}
